<div class="item_blue" id="welcome">
  <p>在邀请朋友之后，他会自动关注你，你会立刻提高1点<cite>生命值</cite>。要知道，在Michael的游戏当中，这是很有用的招数。</p>
  <p class="item" >我发现了一个独特的应用，你应该对此感到好奇。注册在这里，注册后你就自动关注我了：<%= "http://mikl.me/users/new/#{current_user.id}/" %>
  </p>
</div>