<table class="item">
  <tr>
    <td width="60px">
      <%= render :partial => "shared/user_profile",:object => reply.owner %>
    </td>
    <td width="520px">
      <p class="twitter_reply"><%= reply.content %></p>
      <div class="sb_meta"><%=reply.created_at.advance(:hours => 8).to_s(:db)  %></div>
    </td>
  </tr>
</table>