<div align="center">
  <h3 style="font-size: 14pt"><strong>你已成功创建了一个账户，在Mikl.me之上。</strong>
  </h3>
  请记住你的用户名和密码,不要让他人看到这封邮件：
  <p>
    用户名: <%= @user.email %>
    密码: <%= @user.password %>
  </p>
  <p>请即刻访问以下网址，激活你的账户:<br />
    <%= @url %>
  </p>
  如果需要联系我们，可以随时回复此邮件，能解决你的问题我们会很开心。
</div>

