<h3>你已成功创建了一个账户，在Mikl.me之上。</h3>
请记住你的用户名和密码：
<p>
  用户名: <%=h @user.email %>
  密码: <%=h @user.password %>
</p>
<p>请即刻访问以下网址，激活你的账户:<br />
  <%=h @url %>
</p>
即刻将体验Michael带给您的...无限。
如果需要任何帮助，可以随时回复此邮件，能解决你的问题我们会很开心。



