<div class="sb_ph"><%= link_to "<<<返回结果页面",keyword_page_path(@keyword_page) %></div>
<%@something=@resource.description%>
<% for comment in @comments %>
  <%= render :partial => "comment",:object => comment %>
<% end %>
<table class="item" cellspacing="5">
  <tr>
    <td width="60">
      <%= render :partial => "shared/user_profile",:object => current_user %>
    </td>
    <td width="520">
      <%= render :partial => "form" %>
    </td>
  </tr>
</table>

