<%@something=@resource.description%>
<% for comment in @comments %>
  <%= render :partial => "comment",:object => comment %>
<% end %>
<% if logged_in? %>
  <table class="item" cellspacing="5">
    <tr>
      <td width="60">
        <div><%= current_user.nick_name %></div><cite>(不属于该领域)</cite>
      </td>
      <td width="520">
        <%= render :partial => "form",:object => @comment %>
      </td>
    </tr>
  </table>
<% end %>


