<%@something=@resource.description%>
<% for comment in @comments %>
  <%= render :partial => "comment",:object => comment %>
<% end %>
<% if logged_in? %>
  <table class="item" cellspacing="5">
    <% if current_user.keyword_pages.include?(@resource.keyword_page) %>
      <tr>
        <td width="60">
          <%= render :partial => "shared/field_profile",:locals => {:user => current_user,:keyword_page => @resource.keyword_page}%>
        </td>
        <td width="520">
          <%= render :partial => "form",:object => @comment %>
        </td>
      </tr>
    <% else %>
      <tr><td>若想要评论，首先需要加入该领域。</td></tr>
    <% end %>
  </table>
<% end %>


