<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<h1><strong>网络生命体</strong></h1>
<p>网络生命体概念最先诞生于2009年5月18日.
  与阿西莫夫小说中的智能体有所不同，这是一个网络的协作平台，
  我们每个人都将在这上面找到自我价值的实现感，价值是核心。
  此网络体是一个在架构上自身闭合的网络体系，它将不同于目前所有互联网形态.
  我们深晓它的架构及理念，以期促成一场革命。
  <br />
  如果您仍有所迷惑，请点击右边的链接详细了解。
</p>





