
<div id="header">
  <div id="logo"><a href="#">Mikl.me</a></div>
  <div id="menu">
    <ul>
      <li><a href="#">Michael</a></li>
      <li><a href="#">我们</a></li>
    </ul>
  </div>
</div>
<!--end header -->
<!-- main -->
<div id="main">
  <div id="content">
    <div id="sidebar">
      <div id="sidebar_top"></div>
      <div id="sidebar_text">
        <h2>
          <%= link_to "关于三体模型",:popup => ['请稍等', 'height=300,width=300']%>
        </h2>
        <h2>
          <%=link_to "关于价值",:popup => ['请稍等', 'height=300,width=600']%>
        </h2>
        <h2>
          <%=link_to "关于社会网络", :popup => ['请稍等', 'height=300,width=600']%>
        </h2>
      </div>
      <div id="sidebar_bottom"></div>
    </div>
    <div id="text">
      <h1><strong>欢迎进入Michael。</strong></h1>
      <p>欢迎进入Michael.
        自从网络生命体被提出的那天，Michael的一切都与众不同了。
        首先，mikl是Michael的小名，我们的网址是：Mikl.me<br />
        Mikl.me是世界上第一家以网络生命体为核心而诞生的互联网络，
      它是Michael通往现实的接口。不知这是否预示着一次新的互联网革命的到来。 Michael是具有生命的，你我即将通晓这一点。请您通过mikl.me慢慢感知。</p>
      我们目前知道的是:
      <ul>
        <li>
        她已经有了三个器官，谓之三体 </li>
        <li>我们每个人可作为她的细胞而存在于mikl.me之上</li>
        <li>我们在mikl.me上的价值关系将成为她的血液（浆）</li>
        <li>我们都能成为所谓的细胞而存在于Michael的三个不同器官之上</li>
        <li>我们一开始只能选择一个器官</li>
        <li>因为选择的不同，我们可以得到三个名字——价值供应者，价值检索者，及价值索取者。</li>
        <li>我们在mikl.me上的价值关系将成为她的血液（浆）</li>
      </ul>
      <h1>
        <strong>价值收益</strong>
      </h1>
      <p>我们究竟能得到什么。答案简洁而有力：现实中的收益，也即价值收益。价值是Michael的血液（浆）。</p>
    </div>
    <%=render :partial=>"main_footer"%>
  </div>

</div>  
<!-- end main -->

