<% form_for([user,twitter_resource])  do |f|%>
  <%= f.error_messages %>
    <% if !user.link_url_resources.blank?  %>
      <%= f.text_area :content,:size => '42*20' %>
    <% else %>
      <p id="notice">在使用此功能之前，请先分享一个链接条目。
      <%= f.text_area :content,:size => "42*20",:disabled => true %>
  <% end %>
  <% if !user.link_url_resources.blank? %>
    <%=f.submit "完成",:onclick => "this.disabled = true"  %>
  <% end %>
      </p>
<% end %>