<% form_for([user,twitter_resource])  do |f|%>
  <%= f.error_messages %>
    <% if !user.link_url_resources.blank?  %>
      <%= f.text_area :keywords,:size => '42*20' %>
    <% else %>
      <p id="notice">在分享一个单纯的关键字之前，请先分享一个链接。
      <%= f.text_area :keywords,:size => "42*20",:disabled => true %>
  <% end %>
  <% if !user.link_url_resources.blank? %>
    <%=f.submit "完成" %>
  <% end %>
      </p>
<% end %>