<p>你说了一些不知道是什么东西的东西。不过你看，我们已经把它加上去了。</p>
<p>你可以选择 <%= link_to "回到Michael页面",new_user_searched_keyword_path(current_user) %>，搜索一下你刚才的胡言乱语试试。</p>
<p>或者<%=link_to "开始另一段胡言乱语",user_path(current_user)%></p>