<h1>修改"<%= @keyword_page.keyword %>"的相关关键字</h1>
<p>你应该找一些内容上与本关键字比较相似的关键字，这样这个关键字的内容就会被更多人看到。并且你在浏览信息时，也应常常关注某一关键字的相关关键字。</p>
<ul><% for related_keyword in @related_keywords %>
    <li>
      <%= related_keyword.name %>
      <span><%= link_to "删除",keyword_page_related_keyword_path(@keyword_page,related_keyword),:method => :delete,:confirm => "确认删除？"%></span>
    </li>
  <% end %>
</ul>
<p><%= link_to "添加新的相关关键字",new_keyword_page_related_keyword_path(@keyword_page) %></p>
