<h1>新的相关关键字</h1>
<p>
  <% form_for([@keyword_page,@related_keyword]) do |f|%>
    <%= text_field_with_auto_complete :resource,:keywords %>
    <%= f.submit "完成" %>
  <% end %>
</p>
<%= link_to "取消",keyword_page_related_keywords_path(@keyword_page) %>
