<h1>新的相关关键字</h1>
<p>
    <%= text_field_with_auto_complete :keyword_page,:keyword,{}, {:method => :get, :frequency => 0, :after_update_element =>
      "function(element,value){" + remote_function(:url => {:action => :create},:with=>"'keyword='+element.value") + "}" } %>
</p>
<%= link_to "取消",keyword_page_related_keywords_path(@keyword_page) %>
