<div id="text">
  <% for u in @followings %>
    <p>
      <em><%=link_to u.name_or_nick_name(current_user),user_path(u) %></em>：
      <% for page in u.appear_keyword_pages %>
        <cite> 关键字：<%=link_to page.keyword,keyword_page_path(page) %>，声望：<%= page.field_value(u) %>
        </cite>
      <% end %>
    </p>
  <% end %>
  <%= will_paginate @followings, :prev_label => '上一页', :next_label => '下一页' %>

</div>
