<div id="text">
  <h1><%= @user.nick_name %>所擅长的领域 </h1>
    <strong>(也就是价值点数在该领域中较高的领域。)</strong>
  <p>
    <% for keyword in @controlled_keywords  %>
      <span>
        <%= link_to "#{keyword}","/keyword_pages/#{KeywordPage.find_by_keyword(keyword).id}",:popup => true %>
      </span>
    <% end %>
  </p>
  <h1>别人排位高于<%=@user.nick_name  %>的关键字</h1>
  <p>
      <% for keyword in @lost_keywords%>
      <cite>
        <%= link_to "#{keyword}","/keyword_pages/#{KeywordPage.find_by_keyword(keyword).id}",:popup => true %>
      </cite>
    <% end %>
  </p>
</div>
