
  <div id="main">
    <div id="content">
      <h2>别人可以通过以下关键字找到我：</h2>
      <p>
        <% for keyword in @user.owned_keywords  %>
          <span>
            <%= link_to keyword,"/search/#{keyword}" %>
          </span>
        <% end %>
      </p>
      <h2>
        我掌控的关键字：
      </h2>
      <p>
        <% for keyword in @controlled_keywords  %>
          <span>
            <%= link_to "#{keyword}","/search/#{keyword}" %>
          </span>
        <% end %>
      </p>
      <div id="searched_keywords">
        <h2>
          我最近的搜索：
        </h2>
        <p>
          <%for keyword in @user.searched_keywords %>
            <span><%= keyword.name %></span>
          <% end %>
        </p>
      </div>
    </div>
    <%= render "shared/footer" %>
  </div>





