body { margin:114px 0 0 0; line-height:16px; font-family: Arial,Helvetica,sans-serif;  background: url(../images/body_top_bckg.jpg) no-repeat center top #171c20; color:#bed7e6; font-size:13px;

}
a { color:#FFA615;
    font-weight: bold;
    text-decoration: none;
}
.title  {color:white;
    font-weight: normal;
}
strong {color :#fefefe;
        font-weight: normal;
}
cite{
    font-style: normal;
    font-size:13px;
    display:block
}
em,em a{color:white;
        font-size:13px;
        font-style:normal
}
.fieldWithErrors{
    display:inline
}
em a:hover{
    background:#F26513;
    text-decoration:none

}
#logo a:hover {
    text-decoration:underline
}
a:hover {
    text-decoration: underline;
}
#sidebar a {color:white;
            font-weight: bold;
            text-decoration:none;
}
#sidebar a:hover{background-color:#F26513}
#header {}
#logo { margin:auto;padding:30px 0 120px 0;color:#fff; text-align:center;width:930px;}
#logo a{ color:#fff; text-decoration:none; font-weight:bold; font-size:24px; text-transform:uppercase; }
#menu {color:#fff; text-align:center; margin-bottom:62px;}
#menu ul {text-align:center;list-style:none; padding:0;}
#menu ul li {display:inline}
#menu ul a { font-weight:bold; font-size:14px; text-decoration:none; color:#fff; background-color:#445d6c; padding:0 10px 2px 10px;}
#menu ul a:hover { background-color:#f26513;}
#main {background: url(../images/body_all_bckg.jpg) repeat-y top center;}
#content {width:780px; margin:0 auto;}
#text { width:520px;line-height:22px }
#text_wide {width:700px;line-height:22px}
#text p { margin:7px 0 7px 0;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #4a4a4a;
    padding-bottom:5px
}
#sidebar {float:right; width:227px; background-color:#0b0e10; margin:10px 10px 0 0; }
#sidebar_top { width:227px; height:40px; background:url(../images/sidebar_top.jpg) no-repeat;}
#sidebar_text { padding: 0 30px;}
#sidebar_text p { margin:5px 0 5px 0;}
#sidebar_bottom { width:227px; height:57px; background:url(../images/sidebar_bottom.jpg) no-repeat;}
#sidebar h2 { font-size:13px; text-transform:uppercase; color:#fff; margin:20px 0 0 0; padding:0; background:none;
              font-weight: normal;
}
h1 {margin:30px 0 0 0; padding:5px 0 7px 45px; text-transform:uppercase; font-size:24px; color:#fff; background:url(../images/h1_bckg.jpg) no-repeat;}

#footer {background:url(../images/footer_bckg.jpg) no-repeat top center; height:102px; clear:both; width:780px; margin:0 auto; }
#top_footer { padding:60px 0 0 30px; color:#fff; font-size:12px;
              margin-top: auto;
              margin-bottom: auto;
              margin-left: auto;
              margin-right: auto;
              text-align: center;
}
#top_footer a { color:#BED7E6;
                text-decoration: none
}
#top_footer a:hover { text-decoration:none;
                      color: #fefefe;
}
#bottom_footer {text-align: right; color:#fff;  font-size:12px;
                padding-top: 10px;
}
#bottom_footer a { color:#fff;}
#bottom_footer a:hover { text-decoration:none;}
.fieldWithErrors {
}
#errorExplanation {
    color: #f6a1a1;
}
#notice{color: #FFFFFF;}
.right{float:right}
.left{float:left}
#text .right{
    color: #828282;
}
.highlight{color: #f6a1a1;
}
.bold{font-weight:bold}
h3{
    font-weight: normal;
}
table .item{
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: #a0a0a0;
    border-left-color: #a0a0a0;
    border-bottom-color: #a0a0a0;
    border-top-color: #a0a0a0;
}
.little_white{
    font-size:13px;
}
.big_white a{
    color:white
}
.big_white a:hover{
    background-color:#F26513;
    text-decoration:none
}
#sidebar .keyword_page a{
color:#FFA615;
font-weight:bold;
}
#sidebar .keyword_page a:hover{
    text-decoration:underline;
        background:none
}
.sb_meta {float:right;
    color: #828282;
}