root { 
    display: block;
}
body { line-height:16px; font-family: Arial,Helvetica,sans-serif; background: url(../images/body_top_bckg.jpg) no-repeat center top #171c20; color:#bed7e6; font-size:14px;
       text-align: center
}
a { color:white;text-decoration:none}
a:hover { text-decoration:none;
          color: #BED7E6;
}
#login {
    position: relative;
    top: 120px;
}
#login_button {width: 120px}
#logo {color:#fff;position:absolute;}
#logo2 p{color:SaddleBrown;


}

#header h1{
    position: relative;
    top: 5em;
    background:none
}
#menu {color:#fff; text-align:center; margin-bottom:62px;}
#menu ul {text-align:center;list-style:none; padding:0;}
#menu ul li {display:inline}
#menu ul a { font-weight:bold; font-size:14px; text-decoration:none; color:#fff; background-color:#445d6c; padding:0 10px 2px 10px;}
#menu ul a:hover { background-color:#f26513;
                   margin-bottom: 15px;
}
#main {background: url(../images/body_all_bckg.jpg) repeat-y top center;
       margin-top: 220px;
}
#content {width:780px; margin:0 auto;
}
.top_users {width:540px;
            margin:auto;
            line-height:23px
}
#text { width:520px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        margin: auto
}

#text p { margin:7px 0 7px 0;}
#text h1 {
    line-height: 30px;
}
#sidebar {float:left; width:227px; background-color:#0b0e10; 
          text-align: center
}
#sidebar_top { width:227px; height:40px; background:url(../images/sidebar_top.jpg) no-repeat;}
#sidebar_text { padding: 0 30px;}
#sidebar_text p { margin:5px 0 5px 0;}
#sidebar_bottom { width:227px; height:57px; background:url(../images/sidebar_bottom.jpg) no-repeat;}
#sidebar h2 { font-size:13px; text-transform:uppercase; color:#fff; margin:20px 0 0 0; padding:0; background:none;}
h1 {text-transform:uppercase; font-size:24px; color:#fff; background:url(../images/h1_bckg.jpg) no-repeat;
    background-position: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#footer {background:url(../images/footer_bckg.jpg) no-repeat top center; height:102px; clear:both; width:780px; margin:0 auto; }
#top_footer { padding:60px 0 0 30px; color:#fff; font-size:12px;
              margin-top: auto;
              margin-bottom: auto;
              margin-left: auto;
              margin-right: auto;
              text-align: center;
}
#top_footer a { color:#BED7E6;
                text-decoration: none
}
#top_footer a:hover { text-decoration:none;
                      color: #fefefe;
}
#bottom_footer {text-align: right; color:#fff;  font-size:12px;
                padding-top: 10px;
}
#bottom_footer a { color:#fff;}
#bottom_footer a:hover { text-decoration:none;}
#header span{

    position: relative;
    right:50px;
    top: 150px;
}
#replace {
    font-size: 12px;
    position: relative;
    top: 10px;
}
input{ display:inline;
       border-top-width: 1px;
       border-bottom-width: 1px;
       border-left-width: 1px;
       border-right-width: 1px;
       padding-right: 0px;
       padding-left: 0px;
       padding-bottom: 4px;
       padding-top: 4px;
}
input:hover,input:focus {    background-color: #fefefe;
}
#register {
    font-size: 14px;
    margin-right:120px;
    margin-top:80px;
    margin-left:120px
}
#registered_notice {
    color: #fefefe;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    font-size: 16px;
    text-align: center;
    padding: 14px
}

#user_password,#user_password_confirmation {width:100px}

#content a{
    font-size:14px;
}

.keywords{font-weight:bold;
          color:#FFA615}
.keywords:hover{
    color:#FFA615;
    text-decoration: underline;
}
.left {float:left}