root { 
    display: block;
}
body { margin:114px 0 0 0; line-height:16px; font-family: 微软雅黑,新宋体,华文宋体,sans-serif; background: url(../images/body_top_bckg.jpg) no-repeat center top #171c20; color:#bed7e6; font-size:11px;}
a { color:#018BC1;}
a:hover { text-decoration:none;
    color: #fefefe;
}
#header {}
#login {
    display: inline;
    position: absolute;

    top: 140px;
}
#login_email {
    position: relative;
    top: 54px;
    right: 90px;

}
#login_password {
    position: relative;
    left: 95px;
    top: 4px;
}
#login_button {width: 120px}
input#email{
}
#logo { padding:30px 0 120px 0;color:#fff; text-align:center;}
#logo a{ color:#fff; text-decoration:none; font-weight:bold; font-size:24px;  }
#menu {color:#fff; text-align:center; margin-bottom:62px;}
#menu ul {text-align:center;list-style:none; padding:0;}
#menu ul li {display:inline}
#menu ul a { font-weight:bold; font-size:14px; text-decoration:none; color:#fff; background-color:#445d6c; padding:0 10px 2px 10px;}
#menu ul a:hover { background-color:#f26513;
    margin-bottom: 15px;
}
#main {background: url(../images/body_all_bckg.jpg) repeat-y top center;
    position: relative;
    bottom: -75px;
}
#content {width:780px; margin:0 auto;}
#text { width:520px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin: auto
}

#text p { margin:7px 0 7px 0;}
#text li {background:url(../images/li.gif) no-repeat 0px 7px;}
#text h1 {
    line-height: 30px;
}
#sidebar {float:left; width:227px; background-color:#0b0e10; 
    text-align: center;
    margin-left: 100px;
    margin-bottom: 0px;
    margin-right: 0px;
}
#sidebar_top { width:227px; height:40px; background:url(../images/sidebar_top.jpg) no-repeat;}
#sidebar_text { padding: 0 30px;}
#sidebar_text p { margin:5px 0 5px 0;}
#sidebar_bottom { width:227px; height:57px; background:url(../images/sidebar_bottom.jpg) no-repeat;}
#sidebar h2 { font-size:13px; text-transform:uppercase; color:#fff; margin:20px 0 0 0; padding:0; background:none;}
h1 {text-transform:uppercase; font-size:24px; color:#fff; background:url(../images/h1_bckg.jpg) no-repeat;
    background-position: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#footer {background:url(../images/footer_bckg.jpg) no-repeat top center; height:102px; clear:both; width:780px; margin:0 auto; }
#top_footer { padding:60px 0 0 30px; color:#fff; font-size:12px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#top_footer a { color:#BED7E6;
    text-decoration: none
}
#top_footer a:hover { text-decoration:none;
    color: #fefefe;
}
#bottom_footer {text-align: right; color:#fff;  font-size:12px;
    padding-top: 10px;
}
#bottom_footer a { color:#fff;}
#bottom_footer a:hover { text-decoration:none;}
#header span{

    position: relative;
    right:50px;
    top: 150px;
}
#replace {
    font-size: 12px;
    position: relative;
    top: 10px;
}
input{ display:inline;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    background-color: #BED7E6;
}
input:hover,input:focus {    background-color: #fefefe;
}
#register {
    text-align: right;
    font-size: 14px;
    margin-right: 100px;
}
#registered {

    color: #fefefe;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    font-size: 16px;
    text-align: center;
}
.icon_ok {display:block;width:12px;height:12px;background:url(../images/12-em-check.gif) no-repeat 0 0;}
.icon_cross {display:block;width:12px;height:12px;background:url(../images/12-em-cross.gif) no-repeat 0 0;}

.textbox, .input_error {background-color:#f5f5f5;border:1px solid #aaa;width:200px;padding:0 2px;}
.textbox:focus {border: 1px solid #48678d;background-color:#fff;}
.input_error {border:1px solid red;}
