* {
    vertical-align: text-top;
}

body {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -x-system-font:none;
    background:#FFFFFF url(../images/j.png) repeat-x scroll 0 -83px;
    font-family: Arial,Helvetica,sans-serif;
    font-size:small;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin:0;
    min-width:980px;
    padding:0;
}
a {
    color:#336699;
    text-decoration:none;
}
a:visited {
    color:#336699;
}
a:hover{
    background-color:#003399;
    color:white
}

a:active{
    background:#FF9933 none repeat scroll 0 0;
    color:#FFFFFF;
    text-decoration:none;
}
h3 a:visited {
    color:#663399
}
h1, h2, h3, h4, h5, h6 {
    color:#666666;
    font-size:small;
    font-weight:200;
    margin:0;
    padding:0;
}
h1 {
    color:#898994;
    font-size:93%;
}
#mm_header h1, .sb_ph h1 {
    text-transform:uppercase;
}
h2, h3 {
    font-size:125%;
}
h1 a {
    color:#FF6600;
}
h2 {
    margin-top:5px;
}
h2, h2 a, h2 a:visited {
    color:#F76120;
}
h2 span {
    color:#525051;
    font-size:small;
    margin-left:0.47em;
}
h2 span span, h2 cite {
    margin:0 0.47em 0 0;
}
h2 span a, h2 span a:hover {
    color:#0033CC;
}
img {
    border:0 none;
}
cite a, .sb_cite,cite {
    color:#006600;
    font-style:normal;
}
cite a{text-decoration:underline}
.sb_count {
    color:#898994;
    font-size:93%;
}
.sb_meta{
    color:#A1A1A1;
    margin:0;
    float:right
}
.sb_alert {
    color:#D90026;
}
.sb_alert a {
    font-style:italic;
}
.title:hover{
    background:#F7F7F7 none repeat scroll 0 0;
    border-bottom:1px solid #D8DFEA;}
#sw_hdr, #sw_content, #sw_main, #sw_foot {
    float:left;
    width:100%;
}

#sw_content {
    min-height:344px;
    position:static;
    z-index:3;
}
.item p{margin-top:0px;
        margin-bottom:1em}

.blog{line-height:15px}
#sw_canvas {
    padding:0 0 0 15px;
}
#sw_main {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    margin:0 0 0 -15px;
    padding:0 0 1.54em 15px;
    width:100%;
}
#sw_aside {
    color:#525051;
    float:left;
    width:185px;
    position: absolute;
    left: 0px;
}
#sw_aside ul, #sw_aside li {
    list-style-type:none;
    overflow:hidden;
    padding:0;
}
#sw_aside li {
    margin-top:1px;
    padding:4px 0;
}
#sw_aside a, #sw_aside em {
    font-style:normal;
    word-wrap:break-word;
}
div#sw_nav ul, div#sw_nav li, #sw_nav a {
    display:block;
    margin:0;
    padding:0;
    width:170px;
    text-align:center
}
div#sw_nav li {
    margin:0 0 1px;

}
#sw_nav li a {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#F3F3F3 none repeat scroll 0 0;
    padding:4px 20px;
    width:127px;
}
#sw_nav a:hover {
    background-color:#E5E5E5;
}

#results{max-width:590px}
#sw_canvas{padding-left:195px}


.item {
    padding: 6px 12px;
    border: 1px solid #d3d3d3;
    background: #FFF;
    margin-bottom: 8px;
    vertical-align: text-top;
}

.item_blue {
    padding: 6px 12px;
    border: 1px solid #d3d3d3;
    margin-bottom: 8px;
    vertical-align: text-top;
    background:#EEF9EB
}
.item_orange {
    padding: 6px 12px;
    border: 1px solid #d3d3d3;
    margin-bottom: 8px;
    vertical-align: text-top;
    background:AliceBlue
}
.item_pink{
    padding: 6px 12px;
    border: 1px solid pink;
    background:#FFF6EE;
    vertical-align: text-top;

}
.sw_menu {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    font-size:93%;
    padding:0 20px 10px;
}
.sw_menu h2 {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    border:0 none;
    color:#898994;
    font-size:100%;
    margin:0;
    padding-top:10px;
    text-transform:uppercase;
}
.sw_menu h3 {
    font-size:small;
}
.sw_menu ul {
    margin:0 0 5px;
}
#sc_expPane {
    padding-top:16px;
}


#sw_refine li {
    padding:0;
}
#sw_refine li a, #sw_refine li .sw_active {
    display:inline-block;
    padding:4px 10px;
}
#sw_refine li .sw_active {
    background-color:#DAEEF4;
    border:1px solid #DAEEF4;
    color:#525051;
    font-weight:bold;
    padding:3px 9px;
    text-decoration:none;
}
#sw_refine li a:hover {
    border:1px solid #ABD9E9;
    padding:3px 9px;
}

#sw_refine h2 a, #sw_refine h2 a:hover {
    color:#898994;
    text-decoration:none;
}
#sw_refine ul {
    padding-left:5px;
}
#sw_refine .sw_more ul {
    padding:0;
}
.sb_tc .sb_te, .sb_to .sb_tce {
    display:none;
}
.sb_tc .sb_ti, .sb_to .sb_ti {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#FFFFFF url(../images/j.png) repeat scroll -9px -25px;
    cursor:pointer;
    float:left;
    height:9px;
    margin:0.2em 5px 0 0;
    width:9px;
}
.sb_to .sb_ti {
    background-position:0 -25px;
}
ul.sb_te {
    margin-bottom:5px;
}
#sw_refine ul.sw_sublist {
    padding-left:10px;
}
#sw_refine .sc_rbob {
    display:block;
}
.sw_menu h2:before, .sw_menu li:after, .sw_menu ul:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}
#sw_aside .sc_clr {
    clear:both;
}
#sw_aside .sc_vc0 {
    float:left;
    margin:4px 10px 20px 0;
}
#sw_aside a.sc_va1 {
    padding:0;
}
.sc_browseEntry {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#F7F7F7 url(../images/j.png) repeat scroll 0 -119px;
    border:1px solid #CCCCCC;
    bottom:0;
    color:#0033CC;
    display:block;
    left:0;
    padding:5px 10px;
    position:fixed;
    width:152px;
    z-index:2;
}
a.sc_browseEntry:hover {
    background-position:0 -135px;
    border-color:#ABD9E9;
    text-decoration:none;
}
a.sc_browseEntry:hover span {
    text-decoration:underline;
}
.sb_browseEntryIcon {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/j.png) repeat scroll -113px -26px;
    float:left;
    height:8px;
    margin:0.3em 5px 0 0;
    width:5px;
}
.sc_browseEntry:hover .sb_browseEntryIcon {
    background-position:-102px -26px;
    text-decoration:none;
}

.sb_results li{
    list-style-type:none;
    margin:0;
    padding:5px;
    border-bottom:1px dashed #CCCCCC;

}
.sb_results p {
    line-height:1.3em;
    margin:0;
}
.sb_results .sb_meta li, .sp_pss li, .sb_sitespec li {
    display:inline;
    line-height:1.3em;
}
.sb_pag {
    float:left;
    margin-bottom:20px;
    margin-top:20px;
    padding:0;
    width:100%;
}

.sb_pag a,.sb_pag span {
    float:left;
}

.sb_pag a,.sb_pag span {
    border:1px solid #D4D4D4;
    display:block;
    margin:0 0.38em 0 0;
    padding:0.3em 0.7em;
    text-align:center;
}
.sb_pag a {
    color:#F76120;
}
a.sb_pagP, a.sb_pagN {
    border:medium none;
    color:#0033CC;
    padding:0.38em 0.5em;
}

.sb_pag a:hover, a.sb_pagS {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#FBEFDB none repeat scroll 0 0;
    border:1px solid #FFA615;
    text-decoration:none;
    color:#F76120
}
a.sb_pagP {
    margin-right:0.7em;
    padding-left:0;
}
a.sb_pagP:hover, a.sb_pagN:hover {
    background-color:transparent;
    border:medium none;
    text-decoration:underline;
}
a.sb_pagP, a.sb_pagN {
    padding-top:0.5em;
}
#sw_hdr {
    min-height:100px;
    min-width:980px;
    position:relative;
    z-index:4;
}
#sw_tbbg {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#525051 url(../images/j.png) repeat-x scroll 0 -83px;
    height:1.85em;
    margin-bottom:-1.85em;
}
#sw_ltxt {
    color:#0033CC;
    font-size:170%;
    left:40px;
    position:absolute;
    top:2em;
}
.sw_tb {
    color:#FFFFFF;
    font-size:93%;
    line-height:130%;
    min-height:14px;
    padding:0.35em 0;
    width:100%;
}
.sw_tb ul {
    display:block;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}
.sw_tb ul.sc_hl1 {
    float:left;
}
.sw_tb ul.sw_right {
    float:right;
    margin-right:0.5em;
    white-space:nowrap;
}
.sw_tb ul.sw_right .mktTgl {
    margin:0 0.5em -0.2em 0;
}
.sw_tb li {
    display:inline;
    line-height:normal;
    margin:0;
    padding:0;
}
#sw_hdr .sw_tb a {
    color:#FFFFFF;
}
#sw_hdr .sw_tb a:hover{
    background:none;
    text-decoration:underline


}
.sw_tb a, .sw_tb span {
    margin:0 0.5em;
}
.sw_tb a span, .sw_tb span a {
    margin:0;
}
.sw_tbb {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#D1D7DA none repeat scroll 0 0;
    clear:both;
    font-size:1px;
    height:1px;
    opacity:0.5;
    width:100%;
}
.sw_u {
    font-weight:bold;
}
#sw_im {
    height:100px;
    left:0;
    opacity:0;
    position:absolute;
    top:0;
    width:450px;
}
#sw_imL {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/logo.png) no-repeat scroll 0 -45px;
    height:45px;
    margin:36px 0 0 20px;
    width:125px;
}
#sw_imL.sc_idk {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/logo.png) no-repeat scroll 0 0;
    width:125px;
}
#sw_imL2, #sw_pLLogo2 {
    display:none;
    height:300px;
    margin:-45px 0 0 -1px;
    width:125px;
}
#sw_imL2 {
}
#sw_pLLogo {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/j.png) no-repeat scroll 0 -38px;
    height:45px;
    left:0;
    margin:36px 0 0 20px;
    position:absolute;
    top:0;
    width:125px;
}
#sw_imL.sc_idk #sw_imL2 {
    margin-top:0;
}
#sw_imL.sc_idk, #sw_imL {
}
#sw_bta, #sw_fbta {
    color:#006DD4;
    display:block;
    font-size:12px;
    margin-top:38px;
}
#sw_bta {
    left:20px;
    position:absolute;
    top:38px;
}
#sw_fbta {
    margin:-7px 0 0 20px;
}
#sw_fbta.sw_drk {
    color:#FFFFFF;
}
a.sw_logo {
    display:block;
    float:left;
    height:45px;
    margin:-30px 10px 0 0;
    width:125px;
}
#sb_form a.sw_logo {
    margin-right:40px;
}
.sw_logoT {
    color:#000000;
    cursor:pointer;
    display:block;
    font-size:13px;
    position:absolute;
    top:-9em;
    z-index:-1;
}
.sw_box a:hover {
    text-decoration:none;
}
.sw_box img {
    float:left;
    margin:-13px 0 0 17px;
}
#sw_hdr #sb_form, #sw_hdr .sw_box {
    margin:0;
    padding:47px 0 0 20px;
}
#sw_hdr .sw_bd {
    margin-top:-2.43em;
}
.sb_form_align {
    margin-left:175px;
    padding:5px 0 0;
}
div.sw_cbjv {
    left:29em;
    margin:0 0 0 228px;
    position:absolute;
    top:44px;
}
.sw_tb #sch_scopes {
    margin:-0.23em 0 -0.35em 8px;
    padding:0.15em 0 0.35em 0.31em;
}
.sc_active {
    font-weight:bold;
}
#sw_hdr .sw_tb #sch_scopes li a, #sw_hdr .sw_tb #sch_scopes .sc_active span {
    margin:0 1em 0 0.67em;
}
#sw_hdr .sc_hl1 li a {
    border-left:1px solid #CCCCCC;
    margin-top:-1px;
    padding:0 0 0 18px;
}
#sw_hdr #sch_scopes li a {
    border:0 none;
    margin-top:0;
    padding:0;
}
.sw_right li span {
    margin:0 0.85em;
}
.sw_box h1 {
    color:#525051;
    display:inline-block;
    float:left;
    font-size:150%;
    margin:-1em 0 0 5px;
    padding-left:80px;
}
#sw_hdr .sw_tb {
    font-size:small;
    line-height:normal;
    padding-left:10px;
    text-align:center
}
.sb_form_align {
}
#sw_hdr #sch_scopes li a {
    padding-bottom:1px;
}
.sw_mbrand {
    color:#006DD4;
    display:block;
    font-size:16px;
    font-weight:bold;
    left:147px;
    position:absolute;
    top:53px;
}
.sw_mbrand.sw_drk {
    color:#FFFFFF;
}
a.sw_logo {
    width:160px;
}
#sb_form a.sw_logo {
    margin-right:5px;
}
#sw_content .sw_mbrand {
    color:#FFFFFF;
    left:0;
    top:36px;
}
#sw_content.lit .sw_mbrand {
    color:#006DD4;
}
.beta {
    font-size:13px;
    left:39px;
}
#footer {
    border-top:1px solid #F1F1F1;
    clear:both;
    font-size:85%;
    width:100%;
    color:#898994;
    text-align:center
}
#footer ul {
    display:block;
    list-style-type:none;
    margin:auto;
    padding:0;
}
.sw_b input {
    border:0 none;
    color:#333333;
    float:left;
    font-size:100%;
    height:1.2em;
    line-height:1.2em;
    margin:0 0.44em -0.8em 0.24em;
    padding:0.2em;
    width:24.0333em;
}
.sw_bd {
    float:left;
    position:relative;
}
.big_button{
    padding:10px
}
.big_button:hover{
    background-color:LightGrey;
    color:white

}
.sw_bd2 .sw_b {
    float:left;
}
input.sw_q_nrw {
    width:14.9333em;
}
.sw_b .sw_qbtn {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#F9761D url(../images/j.png) repeat scroll 0 0;
    cursor:pointer;
    height:24px;
    margin:0 0 -12px;
    overflow:hidden;
    padding:24px 0 0;
    width:24px;
}
#sb_form_q2 {
    width:15.5em;
}
.sw_b {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#FFFFFF none repeat scroll 0 0;
    border:1px solid #ACBABD;
    float:left;
    font-size:115.9%;
    margin:0 1px 0 0;
    padding:0.2em 0.2em 1em;
    white-space:nowrap;
}
#sw_as {
    clear:both;
    display:none;
    font-size:small;
    left:-1px;
    position:relative;
}
#sw_filt {
    font-size:85%;
}
#sw_filt input {
    margin-left:-3px;
}
#sw_filt label {
    color:#525051;
    margin-right:10px;
}
#sw_filt a {
    color:#0033CC;
}
#sw_filt {
    font-size:90%;
}
.sb_adsW {
    background-color:#F9F5E1;
    clear:both;
    margin:0.7em -10px 1.39em;
    overflow:hidden;
    padding:0 10px;
    word-wrap:break-word;
}
.sb_adsN {
    padding:0 0.4em 0.77em 0;
}
.sb_adsW a, .sb_adsN a {
    display:block;
    padding:0.42em 0 0.48em;
    text-decoration:none;
    width:100%;
}
.sb_adsW a:visited, .sb_adsN a:visited, .sb_adsW a:hover, .sb_adsN a:hover {
    text-decoration:none;
}
.sb_adsN a {
    padding:0 0 1.3em;
}
.sb_adsN h2, .sb_adsW h2 {
    color:#898994;
    font-size:93%;
    font-weight:200;
    margin:0 0 0.9em;
}
.sb_adsW h2 {
    cursor:pointer;
    float:right;
    margin:-0.3em 0 0;
}
.sb_adsW a h3, .sb_adsN a h3 {
    color:#0033CC;
    display:inline;
    font-size:120%;
    font-weight:200;
    text-decoration:underline;
}
.sb_adsW a:visited h3, .sb_adsN a:visited h3 {
    color:#663399;
}
.sb_adsN h3 {
    display:block;
}
.sb_adsN ul, .sb_adsW ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
.sb_adsW ul {
    margin:0 0 0.31em;
}
.sb_adsN p, .sb_adsW p {
    color:#000000;
    margin:0;
}
.sb_adsW p {
    padding:0.2em 0 0;
}
.sb_adsW cite {
    margin-left:0.5em;
}
.sb_adsN cite {
    display:block;
    word-wrap:normal;
}
.sc_cbs {
    white-space:nowrap;
}
.sb_adsW .sc_cbs {
    cursor:pointer;
}
.sb_adsW .sc_cb {
    position:relative;
}
.sb_adsW .msg {
    margin:0;
    width:auto;
}
.sb_adsW .sc_cbt .sc_cb, .sb_adsW .sc_cbi img, .sb_adsW .sc_cbti .sc_cbs {
    margin-left:0.75em;
}
.sc_cbti .sc_cb {
    margin-left:0.5em;
}
.sc_cbi img, .sc_cbti img {
    margin-bottom:-0.16em;
}
.sb_adsN div a {
    color:#898994;
    text-decoration:underline;
}
.sb_adsN div a:hover, .sc_cb:hover {
    text-decoration:underline;
}
.sb_adsN ul li p a, .sb_adsW ul li h3 a, .sb_adsN ul li h3 a, .sb_adsW ul li cite a, .sb_adsW ul li a + h3, .sb_adsW ul li cite + span a {
    display:inline;
}
.sb_adsW ul li h3 a, .sb_adsN ul li h3 a {
    text-decoration:underline;
}
.sb_adsN ul li p a, .sb_adsW ul li p a {
    color:#000000;
    padding:0 0 0.2em;
}
.sb_adsN ul li cite a, .sb_adsW ul li cite a {
    color:#568E1A;
}
.sb_adsN ul li cite a {
    display:block;
}
.sb_adsN ul li a:-moz-any-link:empty, .sb_adsW ul li a:-moz-any-link:empty {
    display:none;
}
.sb_adsN h3, .sb_adsW h3 {
    font-size:110%;
}
.sb_adsN p {
    line-height:140%;
}
.sb_adsW h2 {
}
.ja .sb_adsN h3, .ja .sb_adsW h3 {
    font-size:120%;
}
#sw_uclr {
    z-index:9;
}
#sw_uclr a {
    margin:0;
    text-decoration:none;
}
#sw_uclr ul.sw_uclm {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#FFFFFF none repeat scroll 0 0;
    border:1px solid #DAEEF4;
    display:none;
    margin:0 1px 0 0;
    padding:1px 0;
    position:absolute;
    right:0;
    text-align:left;
    top:1.9em;
    width:12.8em;
}
#sw_uclr .sw_uclm li {
    display:block;
}
#sw_uclr .sw_uclm li a {
    color:#0033CC;
    display:block;
    font-size:1em;
    margin:0;
    padding:4px 0 4px 10px;
}
#sw_uclr .sw_uclm li a:visited {
    color:#0033CC;
}
#sw_uclr .sw_uclm li a:hover {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#DFE4E5 none repeat scroll 0 0;
    text-decoration:underline;
}
#sw_uclr .sw_ln {
    border-bottom:1px solid #DAEEF4;
}
#sw_uclr span {
    margin:0;
    padding:0 2px 4px 10px;
}
#sw_uclr #sw_ar {
    font-size:0.6em;
    padding:6px 2px;
}

#content {
    margin:0 0 0 -15px;
    max-width:666px;
    padding:0 150px 0 0;
}
#results_area {
    float:left;
    padding-bottom:10px;
    width:100%;
}
#results_container {
    padding:0 15px;
}
#results {
}
#sidebar {
    float:left;
    margin:0 -264px 0 19px;
    padding:0 15px 0 0;
    width:230px;
    word-wrap:break-word;
}
#results_area .sb_pag {
    padding:1.25em 0 1.54em;
}
.mktmsg, .dnsmsg, .msg {
    float:left;
    margin:1.54em auto 0.8em;
    width:100%;
}
.sb_results li, #results h2, .sc_seemore {
    float:left;
    width:100%;
}
.sa_cc, #results h2 div, .sc_seemore a {
    max-width:590px;
}
.sb_results li li {
    float:none;
    width:auto;
}
.sc_hl1, .sc_hl1 li {
    display:inline;
    margin:0;
    padding:0;
}
.sb_vdl {
    margin-top:0.4em;
    width:100%;
}
#results:after, .sb_vdl:after {
    clear:both;
    content:'.';
    display:block;
    height:0;
    visibility:hidden;
}
.sb_vdl ul {
    float:left;
    margin:0 1.51em 0 3.11em;
    max-width:38%;
    padding:0;
}
.sb_vdl li {
    text-indent:-0.77em;
}
.sb_dlsm {
    clear:both;
    margin-left:2.34em;
    padding-top:0.3em;
}

.sb_dlsm a {
    color:#525051;
}
.sc_bullet {
    margin:0 0.47em 0 0;
}
.sb_ph {
    color:#898994;
    margin:0 0 0.93em;
    text-align:right;
}
.sb_ph h1 {
    float:left;
}
.sb_ph .sc_hl1, .sb_ph .sc_bullet {
    font-size:93%;
    margin:0 0 0 0.47em;
}
.sb_ph a {
    color:#898994;
    text-decoration:underline;
}
#results_removed {
    margin:1.15em 0 1.54em;
    width:100%;
}
.sb_tsuf {
    white-space:nowrap;
}
.sb_tlst h3, .sb_tlst div {
    display:inline;
    margin-right:1.3em;
}
.sb_tlst, .sb_tlst h3 a {
    display:inline-block;
}

.sc_seemore {
    margin-top:-0.56em;
    padding-bottom:1.37em;
}
.sc_seemore a {
    color:#525051;
    text-decoration:underline;
}
#content .sw_box .sw_t {
    display:none;
}
.dnsmsg {
    color:#525051;
    font-size:125%;
}
.dnsmsg a {
    text-decoration:underline;
}
.sa_cpt {
    position:absolute;
}
#sb_form2 {
    margin-left:-10px;
}
strong {
    color:LightCoral;
    font-weight:normal;
}
cite strong {
    color:#568E1A;
    font-weight:bold;
}
.sb_tlst {
    line-height:160%;
}
.sb_results p {
    line-height:140%;
}
.sb_results ul li {
    margin:0;
}
.sb_alert a {
    font-style:normal;
}
h2, h3 {
    font-size:110%;
}
#content {
    padding-top:0.4em;
}
.ja #results h2, .ja #results h3 {
    font-size:120%;
}
.ja .sb_meta {
    font-size:90%;
}

.highlight{color:#CC0033;}

div.auto_complete {
    width: 350px;
    background: #fff ;
}
div.auto_complete ul {
    border:1px solid #888 ;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}
div.auto_complete ul li {
    margin:0;
    padding:3px;
    color:black;
    font-size:14px;
}
div.auto_complete ul li.selected {
    background-color: #ffb ;
}
div.auto_complete ul strong.highlight {
    color: #800 ;
    margin:0;
    padding:0;
}
input {
    border-style:solid;
    border-width:1px;
    border-right-color: #9e9e9e;
    border-left-color: #9e9e9e;
    border-bottom-color: #9e9e9e;
    border-top-color: #9e9e9e;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}

#hover:hover{
    display:inline
}
.twitter{font-size:larger}
#keyword_page,#keyword_page a{
    color:#F76120;
    font-weight:bold
}
#keyword_page a:hover{
    background:none;
    text-decoration:underline
}

#results li:hover{
    background-color:#F5f5f5
}
.left{float:left}
.right{
    float:right
}
.dotted{
    margin-bottom: 10px;
    margin-top: 5px;
    border-bottom:1px dashed #CCCCCC;
}
.margin_top{
    margin-top:5px
}
.margin_left{

    margin-left:80px
}
.more {
    bottom:22px;
    float:right;
    position:relative;
}
.side{
    font-size:12px;
    line-height: 18px;
    margin-bottom:9px
}
.amount{
    color:#FF9966
}
.title_1{
font-size:24px;
color:#494949;
font-weight:bold
}
.title_2{
color:#F76120;
font-size:15px;
margin-top:15px;
font-weight:bold

}
.title_3{
margin-top:15px;
font-size:20px;
color:#006600;
}