body {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -x-system-font:none;
    background:#FFFFFF url(../images/j.png) repeat-x scroll 0 -83px;
    font-family: Arial,Helvetica,sans-serif;
    font-size:small;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin:0;
    min-width:980px;
    padding:0;
}
a {
    color:#336699;
    text-decoration:none;
}
a:hover .amount{
    color:white
}
li:hover .reply_link {
    display:inline;
    float:right;
    margin-right:100px;
    padding-left:20px;
    padding-right:20px
}

.reply_link{
    display:none;
}
a:hover .reply_link{
    background-color:#003399;
    color:white;
}
em{
    font-style:normal
}
a:hover{
    background-color:#003399;
    color:white
}
a:active{
    background:#FF9933 none repeat scroll 0 0;
    color:#FFFFFF;
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
    color:#666666;
    font-size:small;
    font-weight:200;
    margin:0;
    padding:0;
}
#sw_hdr form{
    display:inline
}
.search_user_input{
    font-size:12px;
}
.register{
    color:#4F463F;
    font-size:14px;
}
.search_user{
    display:inline
}
#welcome p{
    color:#666666;
}
#welcome h3,#welcome dt{
    color:black;
    line-height:162%;
}
#mm_header h1, .sb_ph h1 {
    text-transform:uppercase;
}

h1 a {
    color:#FF6600;
}
h2 {
    margin-top:5px;
}
h2, h2 a {
    color:#F76120;
}
h2 span {
    color:#525051;
    font-size:small;
    margin-left:0.47em;
}
h2 span span, h2 cite {
    margin:0 0.47em 0 0;
}
h2 span a, h2 span a:hover {
    color:#0033CC;
}
img {
    border:0 none;
}
cite a, .sb_cite,cite {
    color:#006600;
    font-style:normal;
}
cite a{text-decoration:underline}
.sb_count {
    color:#898994;
    font-size:93%;
}
.sb_meta{
    color:#A1A1A1;
    margin:0;
    float:right;
}

.grey{
    color:#A1A1A1;
    margin:0;
}
.sb_alert {
    color:#D90026;
}
.sb_alert a {
    font-style:italic;
}
.title:hover{
    background:#F7F7F7 none repeat scroll 0 0;
    border-bottom:1px solid #D8DFEA;}
#sw_hdr, #sw_content, #sw_main, #sw_foot {
    width:100%;
}

#sw_content {
    min-height:344px;
    z-index:3;
    width:800px;
    margin:auto
}
.item p{margin-top:0px;
        margin-bottom:1em}

.blog{line-height:15px}

#sw_main {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    margin:0 0 0 -15px;
    padding:0 0 1.54em 15px;
    width:100%;
}
#sw_aside {
    color:#525051;
    float:right;
    width:185px;
}
#sw_aside ul, #sw_aside li {
    list-style-type:circle;
    padding:0;
}
#sw_aside li {
    margin-top:1px;
    padding:4px 0;
}

div#sw_nav ul, div#sw_nav li, #sw_nav a {
    display:block;
    margin:0;
    padding:0;
    width:170px;
    text-align:center
}
div#sw_nav li {
    margin:0 0 1px;

}
#sw_nav li a {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#F3F3F3 none repeat scroll 0 0;
    padding:4px 20px;
    width:127px;
}
#sw_nav a:hover {
    background-color:#E5E5E5;
}


#results h2{
    font-size:15px;
    text-align:center;
    font-family: 微软雅黑,Arial,Helvetica,sans-serif;
    letter-spacing: 10px;
    font-weight:bold
}
#tiantang{
    border-bottom:10px dotted #CCCCCC;
}
#diyu{
    border-top:10px dashed #CCCCCC;

}
.highlight{
    color:#F92D09
}
.comfort{
    color:#006600
}
.user_profile{
    text-align:center
}
.item {
    border: 1px solid #d3d3d3;
    background: #FFF;
    margin-top: 12px;
    vertical-align: text-top;
}

.item_blue {
    padding: 6px 12px;
    margin-bottom: 8px;
    vertical-align: text-top;
    background:#F3FAFF;
    border: 3px solid #f7fcff;

}
.tab{
    text-align:center
}
td.lt {
background-image:url(../images/td_01.gif);}
td.ct {
background-image:url(../images/td_02.gif);}
td.rt {
background-image:url(../images/td_03.gif);}
td.lm {
background-image:url(../images/td_04.gif);}
td.origin {
background-image:url(../images/td_05.gif);
color:#000000;
font-size:12px;
line-height:18px;
text-align:left;
word-wrap:break-word;}
.tip_i {
color:#AFAFAF;
font-size:12px;
}
td.rm {
background-image:url(../images/td_06.gif);}
td.lb {
background-image:url(../images/td_07.gif);}
td.cb {
background-image:url(../images/td_08.gif);}
td.rb {
background-image:url(../images/td_09.gif);}
.blue_tab{
    padding: 6px 12px;
    background:#F3FAFF;
    position:relative;
    top: 16px;
    border-top: 1px solid #f7fcff;
    border-left: 3px solid #f7fcff;
    border-right: 3px solid #f7fcff;
    font-weight:bold
}
.blue_tab a{
    font-weight:normal
}
.item_pink {
    border: 5px solid #fdf8f8;
    vertical-align: text-top;
    background:#FFF6EE
}
.item_orange,.notice{
    padding: 6px 12px;
    background:#FFF6EE;
    vertical-align: text-top;
    margin-bottom:8px;
    border-style:solid;
    border-left:none;
    border-right:none;
    border-width:1px;
    border-color:pink;
    color:#F76120;
    margin:5px
}
.error{
    color:#CC0033;
    padding: 6px 12px;
    margin: 8px;
    vertical-align: text-top;
    background:#EEF9EB;
    border: 3px solid #f5fef2;
}
.sw_menu {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    font-size:93%;
    padding:0 20px 10px;
}
.sw_menu h2 {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    border:0 none;
    color:#898994;
    font-size:100%;
    margin:0;
    padding-top:10px;
    text-transform:uppercase;
}
.sw_menu h3 {
    font-size:small;
}
.sw_menu ul {
    margin:0 0 5px;
}

#sw_aside .sc_clr {
    clear:both;
}
#sw_aside .sc_vc0 {
    float:left;
    margin:4px 10px 20px 0;
}
#sw_aside a.sc_va1 {
    padding:0;
}

.sb_results li{
    list-style-type:none;
    margin:0;
    padding:5px;
    border-bottom:1px dashed #CCCCCC;
}
#min_height{
    min-height:50px;    /*高度最小值设置为：100px*/
    height:auto !important; /*兼容FF,IE7也支持 !important标签*/
    height:50px; /*兼容ie6*/
    overflow:visible;
}
.sb_results p {
    line-height:1.3em;
    margin:0;
}
.sb_results .sb_meta li, .sp_pss li, .sb_sitespec li {
    display:inline;
    line-height:1.3em;
}


.sb_pag {
    margin-bottom:20px;
    margin-top:20px;
    padding:0;
    width:100%;
}



.sb_pag a,.sb_pag span {
    border:1px solid #D4D4D4;
    margin:0 0.38em 0 0;
    padding:0.3em 0.7em;
    text-align:center;
}
.sb_pag a {
    color:#F76120;
}
a.sb_pagP, a.sb_pagN {
    border:medium none;
    color:#0033CC;
    padding:0.38em 0.5em;
}

.sb_pag a:hover, a.sb_pagS {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#FBEFDB none repeat scroll 0 0;
    border:1px solid #FFA615;
    text-decoration:none;
    color:#F76120
}
a.sb_pagP {
    margin-right:0.7em;
    padding-left:0;
}
a.sb_pagP:hover, a.sb_pagN:hover {
    background-color:transparent;
    border:medium none;
    text-decoration:underline;
}
a.sb_pagP, a.sb_pagN {
    padding-top:0.5em;
}
#sw_hdr {
    height:100px;
    width:800px;
    position:relative;
    margin:auto
}

#sw_ltxt {
    color:#0033CC;
    font-size:170%;
    left:40px;
    position:absolute;
    top:2em;
}
.sw_tb {
    color:#FFFFFF;
    font-size:93%;
    min-height:14px;
    padding:0.35em 0;
    width:100%;
    font-weight:bold;
}
.sw_tb a {
    font-weight:normal
}
.sw_tb ul {
    display:block;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}
.sw_tb ul.sc_hl1 {
    float:left;
}
.sw_tb ul.sw_right {
    float:right;
    margin-right:0.5em;
    white-space:nowrap;
}

.sw_tb li {
    display:inline;
    line-height:normal;
    margin:0;
    padding:0;
}
#sw_hdr .sw_tb a {
    color:#FFFFFF;
}
#sw_hdr .sw_tb a:hover{
    background:none;
    text-decoration:underline


}

.sw_tbb {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#D1D7DA none repeat scroll 0 0;
    clear:both;
    font-size:1px;
    height:1px;
    opacity:0.5;
    width:100%;
}

a.sw_logo {
    display:block;
    float:left;
    height:35px;
    margin:-30px 10px 0 0;
    width:125px;
}
a.sw_logo:hover{
    background:none
}
#sb_form a.sw_logo {
    margin-right:40px;
}



#sw_hdr #sb_form, #sw_hdr .sw_box {
    margin:0;
    padding:47px 0 0 20px;
}
#sw_hdr .sw_bd {
    margin-top:-2.43em;
}

#sw_hdr .sw_tb #sch_scopes li a, #sw_hdr .sw_tb #sch_scopes .sc_active span {
    margin:0 1em 0 0.67em;
}
#sw_hdr .sc_hl1 li a {
    border-left:1px solid #CCCCCC;
    margin-top:-1px;
    padding:0 0 0 18px;
}
#sw_hdr #sch_scopes li a {
    border:0 none;
    margin-top:0;
    padding:0;
}
.sw_right li span {
    margin:0 0.85em;
}
.sw_box h1 {
    color:#525051;
    display:inline-block;
    float:left;
    font-size:150%;
    margin:-1em 0 0 5px;
    padding-left:80px;
}
#sw_hdr .sw_tb {
    font-size:small;
    line-height:normal;
    text-align:center
}
.sb_form_align {
}
#username,#password{
    border:1px solid grey;
    font-size:12px;
    background-color: GhostWhite;
}
#username:hover,#password:hover,#username:focus,#password:focus{
    background-color: white;
}
#sw_hdr #sch_scopes li a {
    padding-bottom:1px;
}

a.sw_logo {
    width:160px;
}
#sb_form a.sw_logo {
    margin-right:5px;
}
#sw_content .sw_mbrand {
    color:#FFFFFF;
    left:0;
    top:36px;
}
#sw_content.lit .sw_mbrand {
    color:#006DD4;
}
.beta {
    font-size:13px;
    left:39px;
}
#footer {
    border-top:1px solid #F1F1F1;
    clear:both;
    font-size:85%;
    width:100%;
    color:#898994;
    text-align:center
}
#footer ul {
    display:block;
    list-style-type:none;
    margin:auto;
    padding:0;
}

.sw_bd {
    float:left;
    position:relative;
}
.big_button{
    padding:10px
}

#content {
    width:600px;
}
#content p{
    line-height:162%
}

#sidebar {
    float:left;
    margin:0 -264px 0 19px;
    padding:0 15px 0 0;
    width:230px;
    word-wrap:break-word;
}
#results_area .sb_pag {
    padding:1.25em 0 1.54em;
}
.mktmsg, .dnsmsg, .msg {
    float:left;
    margin:1.54em auto 0.8em;
    width:100%;
}

.sb_results li li {
    float:none;
    width:auto;
}
.sc_hl1, .sc_hl1 li {
    display:inline;
    margin:0;
    padding:0;
}

.sb_ph {
    color:#898994;
    margin:0 0 0.93em;
    text-align:right;
}
.sb_ph h1 {
    float:left;
}
.sb_ph .sc_hl1, .sb_ph .sc_bullet {
    font-size:93%;
    margin:0 0 0 0.47em;
}

.sb_ph a {
    color:#898994;
    text-decoration:underline;
}

strong {
    color:LightCoral;
    font-weight:normal;
}
#noticed{
    color:LightCoral;
    font-weight:normal;
}
cite strong {
    color:#568E1A;
    font-weight:bold;
}
.sb_tlst {
    line-height:160%;
}
.sb_results p {
    line-height:140%;
}
.sb_results ul li {
    margin:0;
}
.sb_alert a {
    font-style:normal;
}



div.auto_complete {
    width: 350px;
    background: #fff ;
    text-align:center
}
div.auto_complete ul {
    border:1px solid #888 ;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}
div.auto_complete ul li {
    margin:0;
    padding:6px;
    color:black;
    font-size:14px;
}
div.auto_complete ul li.selected {
    background-color: #ffb ;
}
div.auto_complete ul strong.highlight {
    color: #800 ;
    margin:0;
    padding:0;
}
.search_bar {
    text-align:center;
    margin:10px
}
.search_input{
    text-align:center;
    padding:4px
}
#hover:hover{
    display:inline
}
.larger_font{font-size:14px}
#keyword_page,#keyword_page a{
    color:#F76120;
}
#keyword_page a:hover{
    background:none;
    text-decoration:underline
}
#current_page,#current_page a{
    color:#F76120;
    font-weight:bold
}
#current_page a:hover{
    background:none;
    text-decoration:underline
}
#results li:hover,.sb_results li:hover{
    background-color:#F5f5f5
}
.door{font-size:25px}
.left{float:left;}
.right{
    float:right
}
.dotted{
    margin-bottom: 10px;
    margin-top: 5px;
    border-bottom:1px dashed #CCCCCC;
}
.margin_top{
    margin-top:5px
}
#mrjin {
    background:#ccc;
    min-height:100px;    /*高度最小值设置为：100px*/
    height:auto !important; /*兼容FF,IE7也支持 !important标签*/
    height:100px; /*兼容ie6*/
    overflow:visible;
}
.margin_left{
    margin-left:70px;
    margin-bottom:20px
}
.margin_bottom{
    margin-bottom:20px

}
.more{
    font-weight:bold;
    background-color:#FFF6EE;
    text-align:center;
    border: 1px solid #fdf8f8;
    padding:10px 80px
}
.more a{
    color:#F76120;
    padding:10px 140px;
}
#welcome{
    text-align:center
}
.more a:hover{
    background:none;
    color:#F76120;
}
.more:hover{
    border-color:#FFA615;
    border-width:1px;
    border-style:solid;
    background-color:#FBEFDB;
    color:#F76120;
}

.side{
    font-size:12px;
    line-height: 18px;
    margin-bottom:9px
}
.amount{
    color:#FF9966
}
.title_1 a{
    font-size:24px;
    color:#494949;
    font-weight:bold
}
.title_1 a:hover{
    color:black;
    background:none
}
.title_2 a:hover,.title_2{
    color:#F76120;
    background:none
}
.title_2 {
    color:#F76120;
    font-weight:bold
}

.title_3 a:hover{
    background:none;
    color:#006600
}
.title_3{
    color:#006600;
    font-weight:bold
}
.keyword_page_news {
    color:#727272
}
.keyword_page_news:hover{
    color:black;
    background:none

}

#sw_hdr{
    background-repeat: repeat-y;
}
dd{
    margin-left:0
}
.comment_blank input,.comment_blank textarea{
    border:hidden
}
.comment_blank p{
    border:1px solid #D3D3D3;
    padding: 4px;
}

.box_2 {
    margin-top:5px;
    padding-left:40px;
    text-align:left;
}
.box_3 {
    height:46px;
    margin-left:50px;
    text-align:right;
    padding-right:100px}

#to_here{
    bottom:20px;
    position:relative;
    left:-17em;
}
#resource_image_file{
    vertical-align:top
}
.fieldWithErrors{
    display:inline
}
.cadet_blue{
    color:CadetBlue
}
.cadet_blue cite{
    color:#006600;

}
.box_2 textarea {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#FFFFFF none repeat scroll 0 0;
    color:#666666;
    font-size:14px;
    height:152px;
    line-height:19px;
    margin:0;
    overflow-x:hidden;
    overflow-y:auto;
    padding:0;
    width:560px;
    border-top:1px dashed #CCCCCC;
    border-bottom:1px dashed #CCCCCC;
    border-left:none;
    border-right:none
}

.box_3 .btn {
    display:none;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/btn.gif) no-repeat scroll 0 0;
    display:inline-block;
    height:30px;
    width:100px;
    border:none
}
.box_3 .btn:hover {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/btn.gif) no-repeat scroll 0 -30px;
}
