<%@page_title='.Me'%>

<body>
  <div id="header">
    <div id="logo">
      <%= link_to '登出', logout_path %>
      <!--
     <div id="menu">
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">about us</a></li>
          <li><a href="#">services</a></li>
          <li><a href="#">pricing</a></li>
          <li><a href="#">contacts</a></li>
        </ul>
      </div>
      -->
    </div>
  </div>
  <!--end header -->
  <!-- main -->
  <div id="main">
    <div id="content">
      <%if flash[:notice]%>
        <p><%=flash[:notice]%></p>
      <%end%>
      <%if flash[:error]%>
        <p><%=flash[:error]%></p>
      <%end%>
      <div id="text">
       
      </div>
    </div>
    <!-- footer -->
    <%=render :partial=>'shared/footer'%>
    <!-- end footer -->
  </div>
  <!-- end main -->

</body>