<h1>Listing markings</h1>

<table>
  <tr>
  </tr>

<% @markings.each do |marking| %>
  <tr>
    <td><%= link_to 'Show', marking %></td>
    <td><%= link_to 'Edit', edit_marking_path(marking) %></td>
    <td><%= link_to 'Destroy', marking, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New marking', new_marking_path %>