<div id="footer">
  <div id="top_footer">
    <%=link_to '联系我们',:controller => :shared ,:action => :about_us%>
    <%=link_to '免责声明',:controller => :shared,:action => :principles%>
    <%=link_to '投资意向',:controller => :shared,:action => :about_us%>
    <%=link_to 'Michael以外',:confirm => "请等待惊喜"%>
  </div>
  <div id="bottom_footer">© 2010 <span>Mikl.me,</span> all rights reserved</div>
  <div id="clearer"><span></span></div>
</div>