
<% if current_user!=@user%>
  <div id="header">
    <div id="logo">
      <%= link_to "Michael",keyword_pages_path %>
    </div>
    <div id="menu">
      <ul>
        <li>
          <%= link_to_unless_current "#{header.nick_name}的主要信息",user_path(header) %>
        </li>
        <li>
          <%= link_to_unless_current "#{header.nick_name}的好友",user_news_index_path(header) %>
        </li>
      </ul>
    </div>
  </div>
<% else %>
  <div id="header">
    <div id="logo">
      <%= link_to "Michael",keyword_pages_path %>
    </div>
    <div id="menu">
    </div>
  </div>
<% end %>