
<% if current_user!=@user%>
  <div id="header">
    <div id="logo">
      <%= link_to "Michael",keyword_pages_path %>
    </div>
    <div id="menu">
      
    </div>
  </div>
<% else %>
  <div id="header">
    <div id="logo">
      <%= link_to "Michael",keyword_pages_path %>
    </div>
    <div id="menu">
    </div>
  </div>
<% end %>