<% form_tag :controller => :keyword_pages,:action => :create do%>
    <%= text_field 'keyword_page','keyword',:size => 40,:class => "search_bar"%>
    <div class="auto_complete" id="keyword_page_keyword_auto_complete">
    </div>
    <%= auto_complete_field :keyword_page_keyword,:url => {:action => 'auto_complete_for_keyword_page_keyword'}%>
    <%=submit_tag "进入贴吧" %>
<% end %>