<h1>Listing portraits</h1>

<table>
  <tr>
  </tr>

<% @portraits.each do |portrait| %>
  <tr>
    <td><%= link_to 'Show', portrait %></td>
    <td><%= link_to 'Edit', edit_portrait_path(portrait) %></td>
    <td><%= link_to 'Destroy', portrait, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New portrait', new_portrait_path %>