<% if resource.class.to_s=="BlogResource" %>

  <li>
    <span class="left"><%= render :partial => "shared/field_profile",:locals => {:user => resource.owner,:keyword_page => resource.keyword_page}%>
    </span>
    <span class="sb_meta"><%=distance_of_time_in_words(Time.now, resource.created_at, true)%></span>
    <div class="margin_left">
      <p>
        <%=auto_link(resource.content)%>
      </p>
      <br />
      <%= link_to  "回他一招>>>(共被回#{resource.comments.size}招)", user_resource_comments_path(resource.owner,resource),:popup => true %>

    </div>
  </li>
<% end %>