<li>
  <h3>
    <% if  resource.link_url?  %>
      <%= link_to resource.title || resource.keywords, resource.link_url,:popup => true%>
  <%# else %>
  <%#=  link_to resource.title || resource.keywords,user_resource_path(resource.author) %>
    <% end %>
  </h3>
  <div><%= auto_link(highlight(truncate(resource.description,:length => 140),resource.keywords)) %>
  </div>
</li>
<span>
  <%= link_to '编辑', edit_user_resource_path(@user,resource) %>
</span>
<span>
  <%= link_to '删除',user_resource_path(@user,resource),:method => :delete %>
</span>