<li>
  <span class="left"><%= render :partial => "shared/field_profile",:locals => {:user => resource.owner,:keyword_page => resource.keyword_page}%>
  </span>
  <%= render :partial => "resources/resource_content",:object => resource %>
</li>
