<div id="main">
  <h2>在这里你可以分享任何生命中出现的事物，这些事物将被纳入引擎。</h2>
  <p>
    分享的事物无非以下几种形式，这些东西毫无新意：</p>
  <ul>
    <li>
      上网闲逛时来自于其它网站的链接；
    </li>
    <li>
      篇幅较长的自以为具有价值的论文（不少于500字）
    </li>
    <li>
      意识流，头脑中不时冒出来的诡异想法。（不多于139字,而不是140字）
    </li>
  </ul>
  <p>
    <strong>重要的是，如今这些俗气的东西可以被别人搜索了，并且搜索结果由你掌控。何不一试？</strong>
  </p>
  <h2>请从这里开始：</h2>
  <div id="new_resource">
    <p> 请输入第一个你想分享的链接:</p>
    <%  form_remote_tag(:url => {:action => :check_url}) do %>
    <p><%= text_field 'resource','link_url'%></p>
    <p><%= submit_tag "下一步" %></p>
  <% end %>
  </div>