<h1>以下为Michael提供的搜索结果</h1>

<ol>
  <% for resource in @resources do %>
      <li>
        <h3>
          <% if  resource.link_url?  %>
            <%= link_to resource.addition | resource.keywords,resource.link_url%>
          <% else %>
            <%=  link_to resource.addition | resource.keywords,user_resource_path(resource.user) %>
          <% end %>
        </h3>
        <p><%=h resource.content %></p>
      </li>
    <% end %>
  </ol>

  <%= link_to 'New resource', new_user_resource_path(@user) %>