<div id="text">
   <h1>
    查找用户：
  </h1>
  按真实姓名查找：
  <% form_tag :controller => :users,:action => :search do%>
    <%= text_field :user,:name %>
    <%=submit_tag "查找"%>
  <%end  %>
  按用户ID查找：
  <% form_tag  :controller => :users,:action => :search do%>
    <%= text_field :user,:id %>
    <%=submit_tag "查找"%>
  <%end  %>
  <h1>这不是一般的网络形态</h1>
  <p>这是以价值为核心，以搜索行为为基础的社会网络。</p>
  <p>简单来说，如果多一个关注你的人（真实朋友，或是陌生人），你会获得价值点数的提升。
    因此更多的人关注你之后，你就可以凭借较高的价值点数<strong>控制更多的搜索结果项目</strong>，获得<strong>更靠前的结果页面和评论页面排位</strong>，
    发表你认为是正确的言论。</p>
  <p>当然关注别人后，如果别人同意，你可以找到你的<strong>公司、单位、学校和你搜索行为相像的人，增进对朋友、同事、上司的了解。</strong></p>
  <p>因此,Michael是这样一种机制：一个个体的知识传播广度决定于该个体言论对于别人的意义。当突破了Web2.0时代的人人都是信息源的时代之后，个体言论传播能力差异的体现，带来了一个全新的时代——Web3.0时代。</p>
  <p>重要的是，<strong>你的言论在这里不仅会得到保护,更会以一种高效的关键字检索机制传播</strong>——如果你说的对的话。</p>
</div>