<div id="text">
  <h1>
    查找用户：
  </h1>
  按真实姓名查找：
  <% form_tag :controller => :users,:action => :search do%>
    <%= text_field :user,:name %>
    <%=submit_tag "查找"%>
  <%end  %>
  按用户ID查找：
  <% form_tag  :controller => :users,:action => :search do%>
    <%= text_field :user,:id %>
    <%=submit_tag "查找"%>
  <%end  %>
</div>