<div id="text">
  <h1>
    查找用户：
  </h1>
  按真实姓名查找：
  <% form_tag :controller => :users,:action => :search do%>
    <%= text_field :user,:name %>
    <%=submit_tag "查找"%>
  <%end  %>
  按用户ID查找：
  <% form_tag  :controller => :users,:action => :search do%>
    <%= text_field :user,:id %>
    <%=submit_tag "查找"%>
  <%end  %>
  <h1>这不是一般的网络形态</h1>
  <p>这是以价值为核心的社会网络。</p>
  <p>如果多一个关注你的人，你会获得价值点数的提升。
    因此更多的人关注你之后，你会获得<strong>更靠前的结果页面和评论页面排位</strong>
  </p>
</div>