<body>
  <%= render :partial => "shared/header",:object => @user %>
  <div id="main">
    <div id="content">
      <h2>我目前拥有的所有关键字：</h2>
      <p>
        <% for keyword in @user.keywords  %>
          <span>
            <%= link_to keyword.name,"/search/#{keyword.name}" %>
          </span>
        <% end %>
      </p>
      <h2>
        我可以编辑其页面的关键字：
      </h2>
      <p>
        <% for keyword in @my_keywords  %>
          <span>
            <%= link_to keyword.name,"/search/#{keyword.name}" %>
          </span>
        <% end %>
      </p>
    </div>
  </div>

</body>



