<h1>Listing be_follows</h1>

<table>
  <tr>
  </tr>

<% @be_follows.each do |be_follow| %>
  <tr>
    <td><%= link_to 'Show', be_follow %></td>
    <td><%= link_to 'Edit', edit_be_follow_path(be_follow) %></td>
    <td><%= link_to 'Destroy', be_follow, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New be_follow', new_be_follow_path %>