<div id="container">
  <div id="main2">
    <div id="header">
      <div id="title">
        <h1><%= link_to "Mikl",new_user_searched_keyword_path(current_user) %><%= link_to ".Me",user_path(current_user) %></h1>
      </div>
    </div>
    <div id="content2">
      <p>当您幸运的发现关键字没有出现在列表中时，就意味着您自己可以任意编辑该关键字的内容，从而被别人看见。 </p>
      <p>    <%= link_to "(为该关键字新增一个条目>>>)",new_user_link_url_resource_path(current_user),:popup => ['新条目', 'height=300,width=800'] %>
      </p>
      <%= text_field_with_auto_complete :resource, :keywords, {:onfocus => "resource_keywords_auto_completer.activate()"}, {:method => :get, :frequency => 0,:on_hide => remote_function(:url => {:action => :notification}), :after_update_element =>
          "function(element,value){" + remote_function(:url => {:action => :create},:with=>"'keywords='+element.value") + "}"} %>
    </div>
    <div id="clearer"></div>
  </div>
</div>
<div id="footer">
  © 2009 - forever?, Mikl.me, all rights reserved
</div>