<h1>修改"<%= @keyword.name %>"的相关关键字</h1>
<ul><% for related_searched_keyword in @related_searched_keywords %>
    <li>
      <%= related_searched_keyword.name %>
      <span><%= link_to "修改",edit_keyword_related_searched_keyword_path(@keyword,related_searched_keyword) %></span>
    </li>
  <% end %>
</ul>
<p><%= link_to "添加新的相关关键字",new_keyword_related_searched_keyword_path(@keyword) %></p>
