<div class="sb_ph"><h1>视频结果</h1>
  <span>共 <%=h @film_results.count %> 条</span><span class="sc_bullet">·</span>
  <%= link_to "新建一个搜索结果条目>>>",new_user_link_url_resource_path(current_user) %>
</div>
<div id="results">
  <ol class="sb_results" id="wg0">
    <%= render  :partial => "link_url_resources/link_url_resource",:collection => @film_results %>
  </ol>
</div>
<div class="sb_pag">      <%= will_paginate @film_results, :prev_label => '上一页', :next_label => '下一页' %>
</div>