<div id="form">
  <% if logged_in? %>
    <% form_for [@keyword_page,@blog_resource] do |f|%>
      <strong><%= f.error_messages %>
      </strong>
      <div class="box_2">
        <%= f.text_area :content,:cols => 55,:rows => 5,:id => "publish_editor" %>
      </div>
      <div class="box_3">
        <span id="to_here">◄<span class="grey">到此为止</span></span>
        <%= f.submit("",:id => "publisher_submit",:class => "btn") %>
      </div>
      <div>
        <!--
        靠，先不用这个了
        <li>
    <%#= fckeditor_textarea(:blog_resource,:content,:toolbarSet => "Easy",:width => '85%',:height => '150px') %>
        </li>
        -->
      </div>
    <% end %>
  <% end %>
</div>