<h2 class="item_orange">
  话题：<span id="keyword_page"><%= link_to_page(keyword_page_index) %> · · · · · ·</span>
</h2>
<ul class="sb_results" id="wg0">
  <% for resource in keyword_page_index.good_resources %>
    <%= render "resources/resource",:object => resource %>
  <% end %>
</ul>