<h2>
  我的关键字</h2>
<ul>
  <% for k in current_user.appear_keyword_pages %>
    <li>
      <span id="keyword_page"><%=link_to k.keyword,keyword_page_path(KeywordPage.find_by_keyword(k.keyword)) %></span>
      <cite><%= k.field_value(current_user) %></cite>,排名：<%= order(current_user,k) %>
    </li>
  <% end %>
</ul>