<ul class="auto_complete_list">
  <% if @keyword_pages.present? %>
    <% for k in @keyword_pages %>
      <li class="auto_complete_item"><%= k.keyword %></li>
    <% end %>
  <% else %>
    <li class="auto_complete_item"><strong><%=params[:keyword_page][:keyword] %></strong>话题内暂时还没有人发言</li>
  <% end %>
</ul>