
<div class="discuss">
  <h4><cite>大家正在讨论 · · ·</cite></h4>
  <p>
  <% for p in @many_user_keyword_pages %>
    <span><%= link_to_page(p) %></span>
  <% end %></p>
</div>
<div id="more_pages">
  <div class="more"><%= link_to_remote  " 更多· · ·",:url => {:action => :more_pages} %></div>
</div>
