<% for p in @many_user_keyword_pages %>
  <%= render :partial => "keyword_page_index",:object => p%>
<% end %>
<div id="more_pages">
  <h2 class="more"><%= link_to_remote  " 更多· · ·",:url => {:action => :more_pages} %></h2>
</div>
