<h1>Michael提供以下结果</h1>

<div>
  <ol>
    <%= render  @user_short_resources %>
    </ol>
  </div>

  <span>Michael推荐的相关结果:</span>
  <div>
    <table>
      <tbody>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
