<li>
  <h3><%= h @blog_resource.title %></h3>
  <div class="sb_ph"><%= @blog_resource.created_at_s %></div>
  <div>
    <%=simple_format @blog_resource.content %>
  </div>
  <div class="sb_ph">
    <cite>
      <%= link_to "#{@blog_resource.comments.size}条评论>>>",user_resource_comments_path(@blog_resource.owner,@blog_resource) %>
    </cite>
  </div>
</li>
