<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "main" %>
    <meta content="Mikl,Michael,Mikl.me,个人品牌营销,价值,关键字,声望,在线声望,技能" name="keywords"/>
    <meta name="google-site-verification" content="1ci1IJJxIT26Tp7NHhvWUfrkPr9aK7CRU6LpcW8U7cQ" />
    <title>
      <%=h @page_title %>
    </title>
  </head>
  <%=yield :layout%>
</html>
